# Seeed XIAO EE04 ESP32-C5 Specifics
CONFIG_BOARD_DRIVER_SEEEDSTUDIO_XIAO_EE04_ESP32C5=y
CONFIG_IDF_TARGET="esp32c5"

# Flash Configuration
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# ESP32-C5 modules typically do not expose external PSRAM
CONFIG_SPIRAM=n

# Internal flash storage (LittleFS)
CONFIG_USE_INTERNAL_FLASH_STORAGE=y
